<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{name}}({{code}})</title>
    <!-- 引入 echarts.js -->
    <script src="/static/js/echarts.min.js"></script>
    <!-- 引入 jquery.js -->
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 800px;height:600px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据        
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            toolbox: {
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {
                data:['销售额', '净利润', '所有负债', '销售增速(%)', '利润增速(%)', '负债增速(%)']
            },
            xAxis: [
                {
                    type: 'category',
                    data: [],
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '金额',
                    axisLabel: {
                        formatter: '{value} 万元'
                    }
                },
                {
                    type: 'value',
                    name: '同比增速',
                    axisLabel: {
                        formatter: '{value} %'
                    }
                }
            ],
            series: [
                {
                    name:'销售额',
                    type:'bar',
                    data:[]
                },
                {
                    name:'净利润',
                    type:'bar',
                    data:[]
                },
                {
                    name:'所有负债',
                    type:'bar',
                    data:[]
                },
                {
                    name:'销售增速(%)',
                    type:'line',
                    yAxisIndex: 1,
                    data:[]
                },
                {
                    name:'利润增速(%)',
                    type:'line',
                    yAxisIndex: 1,
                    data:[]
                },
                {
                    name:'负债增速(%)',
                    type:'line',
                    yAxisIndex: 1,
                    data:[]
                }
            ]
        };        

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

        myChart.showLoading();

        // 异步加载数据
        {% if recent %}
        var json_url = '/data/{{code}}/annual_report?recent={{recent}}'
        {% else %}
        var json_url = '/data/{{code}}/annual_report'
        {% endif %}
        $.get(json_url).done(function (data) {
            myChart.hideLoading();
            // 填入数据
            myChart.setOption({
                xAxis: {
                    data: data.date
                },
                series: [
                {
                    // 根据名字对应到相应的系列
                    name: '销售额',
                    data: data.income
                },
                {
                    // 根据名字对应到相应的系列
                    name: '净利润',
                    data: data.profit
                },
                {
                    // 根据名字对应到相应的系列
                    name: '所有负债',
                    data: data.liability
                },
                {
                    // 根据名字对应到相应的系列
                    name: '销售增速(%)',
                    data: data.income_yoy
                },
                {
                    // 根据名字对应到相应的系列
                    name: '利润增速(%)',
                    data: data.profit_yoy
                },
                {
                    // 根据名字对应到相应的系列
                    name: '负债增速(%)',
                    data: data.liability_yoy
                }]
            });
        });

    </script>
</body>
</html>
