<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="Navel Orange">
    <meta name="author" content="Shawn Chen">
    <link rel="icon" href="../../favicon.ico">

    <title>大盘概览</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Table CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">小橙子基金</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="database">数据库</a></li>
            <li><a href="#">股票池</a></li>
            <li><a href="#">智能筛选</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#basic">基本情况<span class="sr-only">(current)</span></a></li>
            <li><a href="#other">其他参考</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div id="basic"></div>

            <h2 class="sub-header">上证指数</h2>
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            <div id="chart_SZZS" style="width: 800px;height:600px;">
            </div>

            <h2 class="sub-header">涨跌比例</h2>
            <div class="row">
                <div class="col-md-2">
                    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                    <div id="chart_rise_stats_4" style="width: 320px;height:240px;">
                    </div>
                </div>
                <div class="col-md-2">
                    <div id="chart_rise_stats_3" style="width: 320px;height:240px;">
                    </div>
                </div>
                <div class="col-md-2">
                    <div id="chart_rise_stats_2" style="width: 320px;height:240px;">
                    </div>
                </div>
                <div class="col-md-2">
                    <div id="chart_rise_stats_1" style="width: 320px;height:240px;">
                    </div>
                </div>
                <div class="col-md-2">
                    <div id="chart_rise_stats_0" style="width: 320px;height:240px;">
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-6">
                <h3 class="sub-header">资金流入前十
                    <small id="title_money_in"></small>
                </h3>
                <div class="table-responsive">
                    <table class="table table-striped" id="money_in_top10">
                    </table>
                </div>
                </div>
                <div class="col-md-6">
                <h3 class="sub-header">资金流出前十
                    <small id="title_money_out"></small>
                </h3>
                <div class="table-responsive">
                    <table class="table table-striped" id="money_out_top10">
                    </table>
                </div>               
                </div>
            </div>

            <div id="other"></div>

            <h2 class="sub-header">BDI指数</h2>
            <div id="chart_bdi" style="width: 800px;height:600px;"></div>

            <h2 class="sub-header">Shibor走势</h2>
            <div id="chart_shibor" style="width: 800px;height:600px;"></div>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap3-typeahead.min.js"></script>
    <script src="/static/js/bootstrap-table.min.js"></script>
    <!-- put your locale files after bootstrap-table.js -->
    <script src="/static/js/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入 echarts.js -->
    <script src="/static/js/echarts.min.js"></script>

    <script type="text/javascript">
        var upColor = '#ec0000';
        var upBorderColor = '#8A0000';
        var downColor = '#00da3c';
        var downBorderColor = '#008F28';

        option = {
            title: {
                text: '上证指数',
                left: 0
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                }
            },
            legend: {
                data: ['日K', 'MA5', 'MA10', 'MA20', 'MA30']
            },
            grid: {
                left: '10%',
                right: '10%',
                bottom: '15%'
            },
        };

        var szzsChart = echarts.init(document.getElementById('chart_SZZS'));
        
        szzsChart.setOption(option);

        szzsChart.showLoading();

        // 异步加载数据
        $.get('/data/szzs?recent=150').done(function (resp) {
            szzsChart.hideLoading();
            function splitData(rawData) {
                var categoryData = [];
                var values = []
                for (var i = 0; i < rawData.length; i++) {
                    categoryData.push(rawData[i].date);
                    values.push([
                        rawData[i].open,
                        rawData[i].close,
                        rawData[i].low,
                        rawData[i].high,
                    ])
                }
                return {
                    categoryData: categoryData,
                    values: values
                };
            }

            // 数据意义：开盘(open)，收盘(close)，最低(lowest)，最高(highest)
            var data0 = splitData(resp.data);

            function calculateMA(dayCount) {
                var result = [];
                for (var i = 0, len = data0.values.length; i < len; i++) {
                    if (i < dayCount) {
                        result.push('-');
                        continue;
                    }
                    var sum = 0;
                    for (var j = 0; j < dayCount; j++) {
                        sum += data0.values[i - j][1];
                    }
                    result.push(sum / dayCount);
                }
                return result;
            }

            szzsChart.setOption({
                xAxis: {
                    type: 'category',
                    data: data0.categoryData,
                    scale: true,
                    boundaryGap : false,
                    axisLine: {onZero: false},
                    splitLine: {show: false},
                    splitNumber: 20,
                    min: 'dataMin',
                    max: 'dataMax'
                },
                yAxis: {
                    scale: true,
                    splitArea: {
                        show: true
                    }
                },
                dataZoom: [
                    {
                        type: 'inside',
                        start: 50,
                        end: 100
                    },
                    {
                        show: true,
                        type: 'slider',
                        y: '90%',
                        start: 50,
                        end: 100
                    }
                ],
                series: [
                    {
                        name: '日K',
                        type: 'candlestick',
                        data: data0.values,
                        itemStyle: {
                            normal: {
                                color: upColor,
                                color0: downColor,
                                borderColor: upBorderColor,
                                borderColor0: downBorderColor
                            }
                        },
                        markPoint: {
                            label: {
                                normal: {
                                    formatter: function (param) {
                                        return param != null ? Math.round(param.value) : '';
                                    }
                                }
                            },
                            data: [
                                {
                                    name: 'XX标点',
                                    coord: ['2013/5/31', 2300],
                                    value: 2300,
                                    itemStyle: {
                                        normal: {color: 'rgb(41,60,85)'}
                                    }
                                },
                                {
                                    name: 'highest value',
                                    type: 'max',
                                    valueDim: 'highest'
                                },
                                {
                                    name: 'lowest value',
                                    type: 'min',
                                    valueDim: 'lowest'
                                },
                                {
                                    name: 'average value on close',
                                    type: 'average',
                                    valueDim: 'close'
                                }
                            ],
                            tooltip: {
                                formatter: function (param) {
                                    return param.name + '<br>' + (param.data.coord || '');
                                }
                            }
                        },
                        markLine: {
                            symbol: ['none', 'none'],
                            data: [
                                [
                                    {
                                        name: 'from lowest to highest',
                                        type: 'min',
                                        valueDim: 'lowest',
                                        symbol: 'circle',
                                        symbolSize: 10,
                                        label: {
                                            normal: {show: false},
                                            emphasis: {show: false}
                                        }
                                    },
                                    {
                                        type: 'max',
                                        valueDim: 'highest',
                                        symbol: 'circle',
                                        symbolSize: 10,
                                        label: {
                                            normal: {show: false},
                                            emphasis: {show: false}
                                        }
                                    }
                                ],
                                {
                                    name: 'min line on close',
                                    type: 'min',
                                    valueDim: 'close'
                                },
                                {
                                    name: 'max line on close',
                                    type: 'max',
                                    valueDim: 'close'
                                }
                            ]
                        }
                    },
                    {
                        name: 'MA5',
                        type: 'line',
                        data: calculateMA(5),
                        smooth: true,
                        lineStyle: {
                            normal: {opacity: 0.5}
                        }
                    },
                    {
                        name: 'MA10',
                        type: 'line',
                        data: calculateMA(10),
                        smooth: true,
                        lineStyle: {
                            normal: {opacity: 0.5}
                        }
                    },
                    {
                        name: 'MA20',
                        type: 'line',
                        data: calculateMA(20),
                        smooth: true,
                        lineStyle: {
                            normal: {opacity: 0.5}
                        }
                    },
                    {
                        name: 'MA30',
                        type: 'line',
                        data: calculateMA(30),
                        smooth: true,
                        lineStyle: {
                            normal: {opacity: 0.5}
                        }
                    },

                ]
            });
        });


    </script>

    <script type="text/javascript">

    $('#money_in_top10').bootstrapTable({
      url: "/data/money_flow?top=10",
      responseHandler: function(resp) {
        $('#title_money_in').text("(" + resp.date + ")")
        newResp = [];
        resp.buy_top.forEach(function(e) {
            //alert(e.name)
            newResp.push({
                'index': e.no,
                'code': e.code,
                'name': '<a target="_blank" href="/stock/detail?code=' + e.code + '">' + e.name + '</a>',
                'sum': Math.round(e.sum),
            });
        })
        return newResp;
      },
      columns: [{
          field: 'index',
          title: '排名'
      }, {
          field: 'code',
          title: '股票代码'
      }, {
          field: 'name',
          title: '股票名称'
      }, {
          field: 'sum',
          title: '资金流入(万元)'
      }, ]

    });


    $('#money_out_top10').bootstrapTable({
      url: "/data/money_flow?top=10",
      responseHandler: function(resp) {
        $('#title_money_out').text("(" + resp.date + ")")
        newResp = [];
        resp.sell_top.forEach(function(e) {
            //alert(e.name)
            newResp.push({
                'index': e.no,
                'code': e.code,
                'name': '<a target="_blank" href="/stock/detail?code=' + e.code + '">' + e.name + '</a>',
                'sum': Math.abs(Math.round(e.sum)),
            });
        })
        return newResp;
      },
      columns: [{
          field: 'index',
          title: '排名'
      }, {
          field: 'code',
          title: '股票代码'
      }, {
          field: 'name',
          title: '股票名称'
      }, {
          field: 'sum',
          title: '资金流出(万元)'
      }, ]

    });

    </script>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var riseCharts = new Array(5)

        // 指定图表的配置项和数据
        var riseOption = {
            tooltip : {
                trigger: 'item',
                formatter: "{b}: {c} ({d}%)"
            },
            color:['#d71345','#007947','#121a2a'],
            series : [
                {
                    type: 'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    selectedMode: 'single',
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        for (i=0; i<riseCharts.length; i++) {
            riseCharts[i] = echarts.init(document.getElementById('chart_rise_stats_' + i));

            riseCharts[i].setOption(riseOption);
            riseCharts[i].showLoading();
        }

        // 异步加载数据
        $.get('/data/rise_fail_stats?recent=5').done(function (resp) {
            for (i=0; i<riseCharts.length; i++) {
                var data = resp.data[riseCharts.length-(i+1)]

                riseCharts[i].hideLoading();
                // 填入数据
                riseCharts[i].setOption({
                    title: {
                        text: data.date,
                        left: 'center'
                    },
                    series : [{
                        name: data.date,
                        data: [{
                            // 根据名字对应到相应的系列
                            name: '涨',
                            value: data.rise,
                        },
                        {
                            // 根据名字对应到相应的系列
                            name: '跌',
                            value: data.fail,
                        },
                        {
                            // 根据名字对应到相应的系列
                            name: '平',
                            value: data.nochange,
                        }]
                    }],
                });
                }
        });
    </script>

    <script type="text/javascript">
        var bdiChart = echarts.init(document.getElementById('chart_bdi'));

        bdiChart.setOption({
                title: {
                    text: 'BDI指数',
                    left: 0
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross'
                    }
                },
            })
        bdiChart.showLoading();

        // 异步加载数据
        $.get('/data/bdi').done(function (resp) {
            bdiChart.hideLoading();

            days = []
            indexs = []
            resp.bdi.forEach(function(e) {
                days.push(e.date)
                indexs.push(e.value)
            })

            bdiChart.setOption({
                xAxis: {
                    type: 'category',
                    data: days
                },
                yAxis: {
                    type: 'value',
                    scale: true,/*按比例显示*/
                },
                series: [{
                    data: indexs,
                    type: 'line',
                    smooth: true
                }]
            });
        });


    </script>

    <script type="text/javascript">
        var shiborChart = echarts.init(document.getElementById('chart_shibor'));

        shiborChart.setOption({
            title: {
                text: 'Shibor走势'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['O/N','1W','2W','1M','3M']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
        })
        shiborChart.showLoading();

        // 异步加载数据
        $.get('/data/shibor').done(function (resp) {
            shiborChart.hideLoading();

            datas = {
                'date': [],
                'O/N': [],
                '1W': [],
                '2W': [],
                '1M': [],
                '3M': [],
            }
            resp.shibor.forEach(function(e) {
                datas['date'].push(e.date)
                datas['O/N'].push(e['O/N'])
                datas['1W'].push(e['1W'])
                datas['2W'].push(e['2W'])
                datas['1M'].push(e['1M'])
                datas['3M'].push(e['3M'])
            })

            shiborChart.setOption({
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: datas.date,
                },
                yAxis: {
                    type: 'value',
                    scale: true,/*按比例显示*/
                },
                series: [
                    {
                        name:'O/N',
                        type:'line',
                        data:datas['O/N'],
                    },
                    {
                        name:'1W',
                        type:'line',
                        data:datas['1W'],
                    },
                    {
                        name:'2W',
                        type:'line',
                        data:datas['2W'],
                    },
                    {
                        name:'1M',
                        type:'line',
                        data:datas['1M'],
                    },
                    {
                        name:'3M',
                        type:'line',
                        data:datas['3M'],
                    }
                ]
            });
        });


    </script>

  </body>
</html>
