<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="小橙子基金 - 个股详情">
    <meta name="author" content="Shawn Chen">
    <link rel="icon" href="../../favicon.ico">

    <title>详细报告</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/static/css/mystyle.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">小橙子基金</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">基本面</a></li>
            <li><a href="#about">技术面</a></li>
            <li><a href="#contact">消息面</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>个股详细报告</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

      <div>
      <button class="btn btn-default" type="button">查询</button>
      </div>

      <table class="table table-striped">
          <thead>
            <tr>
              <th>股票代码</th>
              <th>股票名称</th>
              <th>行业</th>
              <th>最新价格</th>
              <th>流通市值(亿)</th>
              <th>市盈率</th>
              <th>市净率</th>
              <th>每股收益</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>600728</td>
              <td>佳都科技</td>
              <td>软件服务</td>
              <td>11.19</td>
              <td>148.7151</td>
              <td>272.8</td>
              <td>5.91</td>
              <td>0.021</td>
            </tr>
          </tbody>
        </table>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
