<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="Navel Orange">
    <meta name="author" content="Shawn Chen">
    <link rel="icon" href="../../favicon.ico">

    <title>个股详情</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Table CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">小橙子基金</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="database">数据库</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right" action="./detail" method="GET">
            <input type="text" class="form-control" placeholder="Search..." name="code" id="textsearch" autocomplete="off" data-provide="typeahead"/>
            <input type="submit" value="Search" hidden="hidden"/>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#overview">概览<span class="sr-only">(current)</span></a></li>
            <li><a href="#finance">基本面</a></li>
            <li><a href="/stock/{{code}}/tick_data?start=2018-12-12&end=2018-12-14">技术面</a></li>
            <li><a href="#">消息面</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <div id="overview"></div>

          <h2 class="sub-header">基本信息</h2>
          <div class="table-responsive">
            <table class="table table-striped" id="table_basic_info">
              <!--
              <thead>
                <tr>
                  <th>股票代码</th>
                  <th>股票名称</th>
                  <th>行业</th>
                  <th>最新价格</th>
                  <th>流通市值(亿)</th>
                  <th>市盈率</th>
                  <th>市净率</th>
                  <th>每股收益</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>600728</td>
                  <td>佳都科技</td>
                  <td>软件服务</td>
                  <td>11.19</td>
                  <td>148.7151</td>
                  <td>272.8</td>
                  <td>5.91</td>
                  <td>0.021</td>
                </tr>
              </tbody>
              -->
            </table>
          </div>

          <h2 class="sub-header">Level 0 报告</h2>
          <div class="table-responsive">
            <table class="table table-striped" id="table_level_0">
              <!--
              <thead>
                <tr>
                  <th>存货大于收入</th>
                  <th>应收账款大于销售额</th>
                  <th>应付账款大于收入</th>
                  <th>流动负债大于流动资产</th>
                  <th>利润偿还非流动负债</th>
                  <th>利润偿还所有负债</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>正常</td>
                  <td>正常</td>
                  <td>正常</td>
                  <td>正常</td>
                  <td>0.56</td>
                  <td>17.36</td>
                </tr>
              </tbody>
              -->
            </table>
          </div>


          <h2 class="sub-header">Level 1 报告</h2>
          <div class="table-responsive">
            <table class="table table-striped" id="table_level_1">
              <!--thead>
                <tr>
                  <th>类别</th>
                  <th>项目</th>
                  <th>数值</th>
                </tr>
              </thead-->
              <!--
              <tbody>
                <tr>
                  <td rowspan="3">盈利能力</td>
                  <td>净资产收益率(%)</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>净利率(%)</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>每股主营业务收入(元)</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td rowspan="3">营运能力</td>
                  <td>应收账款周转率(次)</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>存货周转率(次)</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>流动资产周转率(次)</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td rowspan="3">成长能力</td>
                  <td>主营业务收入增长率(%)</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>净利润增长率(%)</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>每股收益增长率</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td rowspan="4">偿债能力</td>
                  <td>流动比率</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>速动比率</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>现金比率</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>利息支付倍数</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td rowspan="4">现金流量</td>
                  <td>资产的经营现金流量回报率</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>经营现金净流量与净利润的比率</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>经营现金净流量对负债比率</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>现金流量比率</td>
                  <td>100</td>
                </tr>
              </tbody>
              -->
            </table>
          </div>

          <div id="finance"></div>

          <h2 class="sub-header">财务情况</h2>
          <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
          <div id="chart_finance_income" style="width: 480px;height:360px;">
          </div>
          <div id="chart_finance_profit" style="width: 480px;height:360px;">
          </div>
          <div id="chart_finance_liability" style="width: 480px;height:360px;">
          </div>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap3-typeahead.min.js"></script>
    <script src="/static/js/bootstrap-table.min.js"></script>
    <!-- put your locale files after bootstrap-table.js -->
    <script src="/static/js/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入 echarts.js -->
    <script src="/static/js/echarts.min.js"></script>

    <script type="text/javascript">

    $(document).ready(function() {
      $.get("/data/stock_list", function(data){
        $("#textsearch").typeahead({ source:data['stocks'] });
      },'json');
    })

    $('#table_basic_info').bootstrapTable({
      url: "/data/{{code}}/basic_info",
      responseHandler: function(resp) {
        return [resp]
      },
      columns: [{
          field: 'code',
          title: '股票代码'
      }, {
          field: 'name',
          title: '股票名称'
      }, {
          field: 'industry',
          title: '行业'
      }, {
          field: 'close',
          title: '最新价格'
      }, {
          field: 'nmc',
          title: '流通市值(亿)'
      }, {
          field: 'pe',
          title: '市盈率'
      }, {
          field: 'pb',
          title: '市净率'
      }, {
          field: 'eps',
          title: '每股收益'
      }, ]

    });

    $('#table_level_0').bootstrapTable({
      url: "/data/{{code}}/level_0",
      responseHandler: function(resp) {
        return [resp]
      },
      columns: [{
          field: 'Inv',
          title: '存货大于收入'
      }, {
          field: 'AccRec',
          title: '应收账款大于销售额'
      }, {
          field: 'AccPay',
          title: '应付账款大于收入'
      }, {
          field: 'CurLia',
          title: '流动负债大于流动资产'
      }, {
          field: 'ProNon',
          title: '利润偿还非流动负债'
      }, {
          field: 'ProAll',
          title: '利润偿还所有负债'
      }, ]

    });

    $('#table_level_1').bootstrapTable({
      showHeader: false,
      url: "/data/{{code}}/level_1",
      responseHandler: function(resp) {
          newResp = [];
          for (key in resp) {
            resp[key].forEach(function(e) {
              newResp.push({
                'class': key,
                'item': e['item'],
                'value': e['value'],
              });
            });
          }
        return newResp
      },
      columns: [{
          field: 'class',
          title: '类别'
      }, {
          field: 'item',
          title: '项目'
      }, {
          field: 'value',
          title: '数值'
      }, ]

    });

    /*Refer to
    http://bootstrap-table.wenzhixin.net.cn/zh-cn/faq/
    */
    $('#table_level_1').on('load-success.bs.table column-switch.bs.table page-change.bs.table search.bs.table', function () {
      $('#table_level_1').bootstrapTable('mergeCells', {
          index: 0,
          field: 'class',
          colspan: 1,
          rowspan: 3
      });
      $('#table_level_1').bootstrapTable('mergeCells', {
          index: 3,
          field: 'class',
          colspan: 1,
          rowspan: 3
      });
      $('#table_level_1').bootstrapTable('mergeCells', {
          index: 6,
          field: 'class',
          colspan: 1,
          rowspan: 3
      });
      $('#table_level_1').bootstrapTable('mergeCells', {
          index: 9,
          field: 'class',
          colspan: 1,
          rowspan: 4
      });
      $('#table_level_1').bootstrapTable('mergeCells', {
          index: 13,
          field: 'class',
          colspan: 1,
          rowspan: 4
      });
    });

    </script>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var incomeChart = echarts.init(document.getElementById('chart_finance_income'));
        var profitChart = echarts.init(document.getElementById('chart_finance_profit'));
        var liabilityChart = echarts.init(document.getElementById('chart_finance_liability'));

        // 指定图表的配置项和数据
        incomeOption = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            toolbox: {
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {
                data:['销售额', '销售增速(%)']
            },
            xAxis: [
                {
                    type: 'category',
                    data: [],
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '金额',
                    axisLabel: {
                        formatter: '{value} 万元'
                    }
                },
                {
                    type: 'value',
                    name: '同比增速',
                    axisLabel: {
                        formatter: '{value} %'
                    }
                }
            ],
            series: [
                {
                    name:'销售额',
                    type:'bar',
                    data:[],
                    itemStyle:{  normal:{color:'#1d953f'}}
                },
                {
                    name:'销售增速(%)',
                    type:'line',
                    yAxisIndex: 1,
                    data:[],
                    itemStyle:{  normal:{color:'#b2d235'}}
                }
            ]
        };        

        profitOption = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            toolbox: {
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {
                data:['净利润', '利润增速(%)']
            },
            xAxis: [
                {
                    type: 'category',
                    data: [],
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '金额',
                    axisLabel: {
                        formatter: '{value} 万元'
                    }
                },
                {
                    type: 'value',
                    name: '同比增速',
                    axisLabel: {
                        formatter: '{value} %'
                    }
                }
            ],
            series: [
                {
                    name:'净利润',
                    type:'bar',
                    data:[],
                    itemStyle:{  normal:{color:'#2b4490'}}
                },
                {
                    name:'利润增速(%)',
                    type:'line',
                    yAxisIndex: 1,
                    data:[],
                    itemStyle:{  normal:{color:'#426ab3'}}
                }
            ]
        };        

        liabilityOption = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            toolbox: {
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {
                data:['所有负债', '负债增速(%)']
            },
            xAxis: [
                {
                    type: 'category',
                    data: [],
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '金额',
                    axisLabel: {
                        formatter: '{value} 万元'
                    }
                },
                {
                    type: 'value',
                    name: '同比增速',
                    axisLabel: {
                        formatter: '{value} %'
                    }
                }
            ],
            series: [
                {
                    name:'所有负债',
                    type:'bar',
                    data:[],
                    itemStyle:{  normal:{color:'#d71345'}}
                },
                {
                    name:'负债增速(%)',
                    type:'line',
                    yAxisIndex: 1,
                    data:[],
                    itemStyle:{  normal:{color:'#f58f98'}}
                }
            ]
        };        

        // 使用刚指定的配置项和数据显示图表。
        incomeChart.setOption(incomeOption);
        profitChart.setOption(profitOption);
        liabilityChart.setOption(liabilityOption);

        incomeChart.showLoading();
        profitChart.showLoading();
        liabilityChart.showLoading();

        // 异步加载数据
        var json_url = '/data/{{code}}/annual_report?recent=3'
        $.get(json_url).done(function (resp) {
            data = {
                "year": [],
                "income": [],
                "profit": [],
                "liability": [],
                "income_yoy": [],
                "profit_yoy": [],
                "liability_yoy": [],
            }
            resp.annual_report.forEach(element => {
                data.year.push(element.year)
                data.income.push(element.income)
                data.profit.push(element.profit)
                data.liability.push(element.liability)
                data.income_yoy.push(element.income_yoy)
                data.profit_yoy.push(element.profit_yoy)
                data.liability_yoy.push(element.liability_yoy)
            });
            incomeChart.hideLoading();
            // 填入数据
            incomeChart.setOption({
                xAxis: {
                    data: data.year
                },
                series: [
                {
                    // 根据名字对应到相应的系列
                    name: '销售额',
                    data: data.income
                },
                {
                    // 根据名字对应到相应的系列
                    name: '销售增速(%)',
                    data: data.income_yoy
                }]
            });

            profitChart.hideLoading();
            // 填入数据
            profitChart.setOption({
                xAxis: {
                    data: data.year
                },
                series: [
                {
                    // 根据名字对应到相应的系列
                    name: '净利润',
                    data: data.profit
                },
                {
                    // 根据名字对应到相应的系列
                    name: '利润增速(%)',
                    data: data.profit_yoy
                }]
            });

            liabilityChart.hideLoading();
            // 填入数据
            liabilityChart.setOption({
                xAxis: {
                    data: data.year
                },
                series: [
                {
                    // 根据名字对应到相应的系列
                    name: '所有负债',
                    data: data.liability
                },
                {
                    // 根据名字对应到相应的系列
                    name: '负债增速(%)',
                    data: data.liability_yoy
                }]
            });
        });

    </script>
  </body>
</html>
