<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="Navel Orange">
    <meta name="author" content="Shawn Chen">
    <link rel="icon" href="../../favicon.ico">

    <title>股票池</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Table CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
    <!-- Bootstrap Datetime Picker-->
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">小橙子基金</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="database">数据库</a></li>
            <li><a href="pool">股票池</a></li>
            <li><a href="screener">智能筛选</a></li>
            <li><a href="backtest">回测</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">自选股<span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <h3 class="sub-header">股票池
        </h3>
        <div class="table-responsive">
          <table class="table table-striped" id="interest_pool">
          </table>
        </div>

        <h3 class="sub-header">持仓股票</h3>
        <div class="table-responsive">
          <table class="table table-striped" id="hold_list">
          </table>
        </div>

        <hr/>
        <div class="row">
            <div class="col-md-5">
                <form action="/data/join_position" method="POST"> {% csrf_token %}
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>股票代码</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Search..." name="stock" id="textsearch" autocomplete="off" data-provide="typeahead"/>
                        </td>
                      </tr>
                      <tr>
                        <td>持仓成本</td>
                        <td>
                            <input type="text" name="codePrice"/>
                        </td>
                        <td>元</td>
                      </tr>
                      <tr>
                        <td>预期价格</td>
                        <td>
                            <input type="text" name="priceToSell"/>
                        </td>
                        <td>元</td>
                      </tr>
                      <tr>
                        <td>止损价格</td>
                        <td>
                            <input type="text" name="priceToStop"/>
                        </td>
                        <td>元</td>
                      </tr>
                      <tr>
                        <td>买入日期</td>
                        <td>
                          <div id="position_datepicker" class="input-append">
                              <input data-format="yyyy-MM-dd" type="text" name="day"></input>
                              <span class="add-on">
                                  <span class="glyphicon glyphicon-calendar">
                                  </span>
                              </span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td>
                          <button type="submit" class="btn btn-info">提交</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>
        </div>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap3-typeahead.min.js"></script>
    <script src="/static/js/bootstrap-table.min.js"></script>
    <!-- put your locale files after bootstrap-table.js -->
    <script src="/static/js/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <!-- 引入 echarts.js -->
    <script src="/static/js/echarts.min.js"></script>

    <script type="text/javascript">

      $(document).ready(function() {
        $.get("/data/stock_list", function(data){
          $("#textsearch").typeahead({ source:data['stocks'] });
        },'json');
      })

      $('#position_datepicker').datetimepicker({
          pickTime: false
      });

      $(document).ready(function() {
          var today = new Date()
          $("#position_datepicker").data('datetimepicker').setLocalDate(today);
      });

      $('#interest_pool').bootstrapTable({
        url: "/data/interest_list",
        responseHandler: function(resp) {
          newResp = [];
          resp.interests.forEach(function(e) {
              if (e.growth > 0) {
                price = '<font color="red">' + e.price + " (" + e.growth + "%)" + '</font>'
              } else if (e.growth < 0) {
                price = '<font color="green">' + e.price + " (" + e.growth + "%)" + '</font>'
              } else {
                price = e.price + " (" + e.growth + "%)"
              }
              newResp.push({
                  'code': e.code,
                  'name': '<a target="_blank" href="/stock/detail?code=' + e.code + '">' + e.name + '</a>',
                  'industry': e.industry,
                  'price': price,
                  'createDay': e.created,
                  'buttons': '<form action="/data/leave_interest" method="POST">  {% csrf_token %}'
                      + '<input type="text" name="stock" value="' + e.code + '" hidden="hidden"></input>'
                      + '<button type="submit" class="btn btn-danger">删除</button>'
                      + '</form>',
              });
          })
          return newResp;
        },
        columns: [{
            field: 'code',
            title: '股票代码'
        }, {
            field: 'name',
            title: '股票名称'
        }, {
            field: 'industry',
            title: '行业'
        }, {
            field: 'price',
            title: '最新价'
        }, {
            field: 'createDay',
            title: '关注时间'
        }, {
            field: 'buttons',
            width: '80',
        }, ]
  
      });

      $('#hold_list').bootstrapTable({
        url: "/data/position_list",
        responseHandler: function(resp) {
          newResp = [];
          resp.holds.forEach(function(e) {
              growth = Math.round((e.priceToSell/e.costprice-1)*10000)/100
              priceToSell = '<font color="red">' + e.priceToSell + " (" + growth + "%)" + '</font>'

              growth = Math.round((e.priceToStop/e.costprice-1)*10000)/100
              priceToStop = '<font color="green">' + e.priceToStop + " (" + growth + "%)" + '</font>'

              growth = Math.round((e.price/e.costprice-1)*10000)/100
              if (growth > 0) {
                growth = '<font color="red">' + growth + '%</font>'
              } else if (growth < 0) {
                growth = '<font color="green">' + growth + '%</font>'
              } else {
                growth = growth + '%'
              }
              newResp.push({
                  'code': e.code,
                  'name': '<a target="_blank" href="/stock/detail?code=' + e.code + '">' + e.name + '</a>',
                  'industry': e.industry,
                  'price': e.price,
                  'growth': growth,
                  'costprice': e.costprice,
                  'priceToSell': priceToSell,
                  'priceToStop': priceToStop,
                  'createDay': e.created,
                  'buttons': '<form action="/data/leave_position" method="POST">  {% csrf_token %}'
                      + '<input type="text" name="stock" value="' + e.code + '" hidden="hidden"></input>'
                      + '<button type="submit" class="btn btn-danger">删除</button>'
                      + '</form>',
              });
          })
          return newResp;
        },
        columns: [{
            field: 'code',
            title: '股票代码'
        }, {
            field: 'name',
            title: '股票名称'
        }, {
            field: 'industry',
            title: '行业'
        }, {
            field: 'price',
            title: '最新价'
        }, {
            field: 'growth',
            title: '最新涨幅'
        }, {
            field: 'costprice',
            title: '成本价',
        }, {
            field: 'priceToSell',
            title: '止盈价'
        }, {
            field: 'priceToStop',
            title: '止损价'
        }, {
            field: 'createDay',
            title: '持仓日期'
        }, {
            field: 'buttons',
            width: '80',
        }, ]

      });
  
      </script>

  </body>
</html>
