<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{name}}({{code}})</title>
    <!-- 引入 echarts.js -->
    <script src="/static/js/echarts.min.js"></script>
    <!-- 引入 jquery.js -->
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 800px;height:600px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title : {
                text: '分笔数据明细',
                subtext: '最新市值: {{outstanding}}(亿)'
            },
            grid: {
                left: '3%',
                right: '7%',
                bottom: '3%',
                containLabel: true
            },
            tooltip : {
                // trigger: 'axis',
                showDelay : 0,
                formatter : function (params) {
                    if (params.value.length > 1) {
                        return params.seriesName + ' :<br/>'
                        + '交易时间 '+ params.value[0]
                        + ' 成交额 '+ params.value[1];
                    }
                    else {
                        return params.seriesName + ' :<br/>'
                        + params.name + ' : '
                        + params.value + '元 ';
                    }
                },
                axisPointer:{
                    show: true,
                    type : 'shadow'
                }
            },
            toolbox: {
                feature: {
                    dataZoom: {},
                    brush: {
                        type: ['rect', 'polygon', 'clear']
                    }
                }
            },
            legend: {
                data: ['资金流入','资金流出', '资金相对量'],
                left: 'center'
            },
            xAxis : [
                {
                    type : 'category',
                    axisTick : {show: false},
                    axisLabel : {
                        formatter: '{value}'
                    }
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    scale:true,
                    axisLabel : {
                        formatter: '{value} 万元'
                    }
                }
            ],
            series : [
                {
                    name:'资金流入',
                    type:'bar',
                    stack: "总量",
                    label: {
                        normal: {
                            show: true
                        }
                    },
                    data: [],
                    itemStyle:{  normal:{color:'#d71345'}}
                },
                {
                    name:'资金流出',
                    type:'bar',
                    stack: "总量",
                    label: {
                        normal: {
                            show: true
                        }
                    },
                    data: [],
                    itemStyle:{  normal:{color:'#1d953f'}}
                },
                {
                    name:'资金相对量',
                    type:'line',
                    data: [],
                    itemStyle:{  normal:{color:'#b2d235'}}
                }
            ]
        };        

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

        myChart.showLoading();

        // 异步加载数据
        $.get('/data/{{code}}/tick_data?start={{start}}&end={{end}}').done(function (resp) {
            data = {
                "timezone": [],
                "buy": [],
                "sell": [],
                "total": [],
            }
            resp.tick_data.forEach(function(e) {
                data.timezone.push(e.date + " 9:30-10:30")

                data.buy.push(Math.round(e.sec1_buy/10000))
                data.sell.push(Math.round(-e.sec1_sell/10000))
                data.total.push(Math.round((e.sec1_buy-e.sec1_sell)/10000))

                data.timezone.push(e.date + " 10:30-11:30")

                data.buy.push(Math.round(e.sec2_buy/10000))
                data.sell.push(Math.round(-e.sec2_sell/10000))
                data.total.push(Math.round((e.sec2_buy-e.sec2_sell)/10000))

                data.timezone.push(e.date + " 13:00-14:00")

                data.buy.push(Math.round(e.sec3_buy/10000))
                data.sell.push(Math.round(-e.sec3_sell/10000))
                data.total.push(Math.round((e.sec3_buy-e.sec3_sell)/10000))

                data.timezone.push(e.date + " 14:00-15:00")

                data.buy.push(Math.round(e.sec4_buy/10000))
                data.sell.push(Math.round(-e.sec4_sell/10000))
                data.total.push(Math.round((e.sec4_buy-e.sec4_sell)/10000))
            })
            myChart.hideLoading();
            // 填入数据
            myChart.setOption({
                xAxis: {
                    data: data.timezone
                },
                series: [{
                    // 根据名字对应到相应的系列
                    name: '资金流入',
                    data: data.buy
                },
                {
                    // 根据名字对应到相应的系列
                    name: '资金流出',
                    data: data.sell
                },
                {
                    // 根据名字对应到相应的系列
                    name: '资金相对量',
                    data: data.total
                }]
            });
        });

    </script>
</body>
</html>
